.adminCatalogModal {
    z-index: 222;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

    &__settings {
        max-width: 600px;
        width: 100%;
        background-color: #9d8189;
        border-radius: 10px;
        padding: 20px;
        position: relative;

        label {
            color: #fff;
            font-size: 17px;
            span {
                font-size: 15px;
            }
        }
    }

    &__close {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        width: 20px;
        height: 20px;
    }

    &__title {
        font-family: PTSans-Bold;
        color: #fff;
        font-size: 25px;
        text-align: center;
        margin-bottom: 20px;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .settings__input {
        display: block;
        width: 100%;
        margin-bottom: 20px;
        height: 40px;
        border-radius: 10px;
        padding-left: 10px;
        font-size: 17px;
        outline: none;
        border: none;

        &_description {
            height: 100px;
            resize: none;
        }
    }

    &__active {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 10px;

        input[type="checkbox"] {
            width: 20px;
            height: 20px;
        }
    }

    &__submit {
        display: block;
        margin: 0 auto;
        width: 150px;
        height: 50px;
        border-radius: 10px;
        border: none;
        background-color: #ffffff;
        color: #000000;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 600;
        cursor: pointer;
        margin-top: 20px;

        &:hover {
            background-color: #f7e1d7;
        }
    }
} 