.adminVacancyModal {
    z-index: 222;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    &__wrapper {    
        height: 500px;
        overflow: scroll;
        overflow-x: hidden;
        padding-right: 10px;
        &::-webkit-scrollbar {
            border-radius: 10px;
            width: 5px;
            height: 8px;
            background-color: #ffffff;
        }
        &::-webkit-scrollbar-thumb {
            background-color: #00000052;
            border-radius: 10px;
        }
    }
    &__settings {
        max-width: 600px;
        width: 100%;
        height: 600px;
        background-color: #9d8189;
        border-radius: 10px;
        padding: 20px;
        padding-right: 10px;
        position: relative;
        label {
            color: #fff;
            font-size: 17px;
            span {
                font-size: 15px;
            }
        }
    }
    &__settings .settings{
        &__input {
            display: block;
            width: 100%;
            margin-bottom: 20px;
            height: 40px;
            border-radius: 10px;
            padding-left: 10px;
            font-size: 17px;
            outline: none;
            border: none;
            &_descr {
                height: 100px;
                resize: none;
            }
            &_duties {
                height: 100px;
                resize: none;
            }
            &_conditions {
                height: 100px;
                resize: none;
            }
            &_requirements {
                height: 100px;
                resize: none;
            }
            &_isActive {
                &-title {
                    color: #fff;
                    font-size: 17px;
                    margin-bottom: 10px;
                }
            }
        }
        &__btn {
            display: block;
            margin: 0 auto;
            width: 150px;
            height: 50px;
            border-radius: 10px;
            border: none;
            background-color: #ffffff;
            color: #000000;
            font-family: Montserrat;
            font-size: 14px;
            font-weight: 600;
            cursor: pointer;
            margin-top: 20px;
        }
        &__wrapper {
            &_checkbox {
                input[type=checkbox]{
                    height: 0;
                    width: 0;
                    visibility: hidden;
                    position: absolute;
                }
                label {
                cursor: pointer;
                text-indent: -9999px;
                width: 60px;
                height: 30px;
                background: grey;
                display: block;
                border-radius: 50px;
                position: relative;
                }
                label:after {
                content: '';
                position: absolute;
                top: 5px;
                left: 5px;
                width: 20px;
                height: 20px;
                background: #fff;
                border-radius: 20px;
                transition: 0.3s;
                }
                input:checked + label {
                background: #bada55;
                }    
                input:checked + label:after {
                    left: calc(100% - 5px);
                    transform: translateX(-100%);
                }   
                label:active:after {
                    width: 20px;
                }
            }
        }
    }
    &__title {
        font-family: PTSans-Bold;
        color: #fff;
        font-size: 25px;
        text-align: center;
        margin-bottom: 20px;
    }
    &__close {
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
    }
}
